ADMIN_CREDENTIALS=<USER>:<ENCRYPTED_PASSWORD>
USER_CREDENTIALS=<USER>:<ENCRYPTED_PASSWORD>
ADMIN_PORTAINER_PASSWORD=<ENCRYPTED_PASSWORD>
PORTAINER_FQDN=<PORTAINER_FQDN>
REGISTRY_FQDN=<REGISTRY_FQDN>
TRAEFIK_FQDN=<TRAEFIK_FQDN>
USER_ENROLLMENT_EMAIL=<USER_ENROLLMENT_EMAIL>